.App {
  text-align: start;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(99, 155, 219);
}

.App-link {
  color: #61dafb;
}
label {
  display: flexbox;
    font: 1rem 'Fira Sans', sans-serif;
}

.form {
  width: 15%;
  margin: 0.4rem 0;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
